<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.hms.web.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>com.hms.web.controller.SignOutController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.hms.web.controller.ChangePasswordController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>com.hms.web.controller.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabAdminController</servlet-name>
        <servlet-class>com.hms.web.controller.LabAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientController</servlet-name>
        <servlet-class>com.hms.web.controller.PatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDoctor</servlet-name>
        <servlet-class>com.hms.web.controller.AssignDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>com.hms.web.controller.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController2</servlet-name>
        <servlet-class>com.hms.web.controller.ImageController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetQuestionController</servlet-name>
        <servlet-class>com.hms.web.controller.SetQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePhotoController</servlet-name>
        <servlet-class>com.hms.web.controller.ChangePhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabAdminImage</servlet-name>
        <servlet-class>com.hms.web.controller.LabAdminImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorController</servlet-name>
        <servlet-class>com.hms.web.controller.EditDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailsController</servlet-name>
        <servlet-class>com.hms.web.controller.GetDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacyController</servlet-name>
        <servlet-class>com.hms.web.controller.PharmacyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController3</servlet-name>
        <servlet-class>com.hms.web.controller.ImageController3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.hms.web.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/SignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/DoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientController</servlet-name>
        <url-pattern>/PatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDoctor</servlet-name>
        <url-pattern>/AssignDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/ImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabAdminController</servlet-name>
        <url-pattern>/LabAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController2</servlet-name>
        <url-pattern>/ImageController2</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>SetQuestionController</servlet-name>
        <url-pattern>/SetQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePhotoController</servlet-name>
        <url-pattern>/ChangePhotoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabAdminImage</servlet-name>
        <url-pattern>/LabAdminImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorController</servlet-name>
        <url-pattern>/EditDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailsController</servlet-name>
        <url-pattern>/GetDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacyController</servlet-name>
        <url-pattern>/PharmacyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController3</servlet-name>
        <url-pattern>/ImageController3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
